<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create account</title>
</head>
<body>
    <form action="/login/create" method="POST">
        <input type="text" id="username" name="username" placeholder="Username:"><br>
        <input type="password" id="password" name="password" placeholder="Password:"><br>
        <input type="email" id="email" name="email" placeholder="E-mail:"><br>
        <input type="text" id="contact" name="contact" placeholder="Contact Number:"><br>
        <input type="checkbox" name="is_admin" id="is_admin" value="true">
        <label for="is_admin">Admin Account</label><br>
        <input type="submit" value="Create">
    </form>

</body>
</html>